body{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: large;
  margin: 1%;
  background: url(./IMG/q.jpg) no-repeat;
  background-size: cover;
}
.pag{
background-color: rgb(255, 244, 196);
 border-radius: 1%;
}
.carta{
  width: 200px;
  height: 400px;
  padding: 20px;
}
.margen{
  padding: 10px;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px;
}
